<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="envoyer" translate="label" sortOrder="500" class="webstraxt-tab">
            <label>Envoyer</label>
        </tab>
        <section id="envoyer" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label><![CDATA[Envoyer]]></label>
            <tab>envoyer</tab>
            <resource>Webstraxt_EnvoyerHeartbeat::config</resource>
            <group id="envoyer" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>HeartBeat</label>
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
                    <label>Enable Heartbeat</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="url" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="text">
                    <label>Heartbeat URL</label>
                </field>
            </group>
        </section>
    </system>
</config>